:root {
    --primary-color: #772fd3;
    --background-color: #F4F4F4;
    --text-color-light: #777;
    --text-color-dark: #555555;
    --input-background: #ffffff;
    --input-border: #bbbbbb;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/fundo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    max-width: 375px;
    width: 95%;
    border-radius: 20px;
    background: var(--background-color);
    margin: 40px auto;
    padding: 44px 24px 23px;
}

label {
    color: var(--text-color-light);
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color-dark);
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    background: var(--primary-color);
    border: none;
    color: var(--input-background);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 14px;
    color: var(--text-color-light);
}

.currency-value, .currency-value-to-convert {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color-dark);
}